<section class="the-header">
  <div class="header-left">
    <span style="color: var(--blue-main)">设</span>
    <span style="color: var(--pink-main)">计</span>
    <span style="color: var(--green-main)">系</span>
    <span style="color: var(--amber-main)">统</span>
  </div>

  <div class="header-right">
    <a routerLink="/" pButton data-test="change-me">
      <span pButtonLabel>主页</span>
    </a>
    <a routerLink="/console" pButton data-test="change-me">
      <span pButtonLabel>控制台</span>
    </a>
  </div>
</section>

<section class="main-content">
  <h1 class="section-title">按钮</h1>
  <h3 class="section-sub-title">常规按钮</h3>
  <section class="button-section">
    <p-button data-test="change-me" label="主要按钮" severity="primary"></p-button>
    <p-button data-test="change-me" label="次要按钮" severity="secondary"></p-button>
    <p-button data-test="change-me" label="警告按钮" severity="warn"></p-button>
    <p-button data-test="change-me" label="危险按钮" severity="danger"></p-button>
    <p-button data-test="change-me" label="禁用按钮" severity="danger" [disabled]="true"></p-button>
    <p-button data-test="change-me" label="小号按钮" severity="primary" size="small"></p-button>
    <p-button data-test="change-me" label="大号按钮" severity="primary" size="large"></p-button>
  </section>

  <h3 class="section-sub-title">常规按钮（带PrimeNG图标）</h3>
  <section class="button-section">
    <p-button data-test="change-me" icon="pi pi-home" label="PrimeNG主要" severity="primary"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="PrimeNG次要" severity="secondary"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="PrimeNG警告" severity="warn"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="PrimeNG危险" severity="danger"></p-button>
    <p-button
      data-test="change-me"
      icon="pi pi-home"
      label="PrimeNG禁用"
      severity="primary"
      [disabled]="true"
    ></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="PrimeNG小号" severity="primary" size="small"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="PrimeNG大号" severity="primary" size="large"></p-button>
  </section>

  <h3 class="section-sub-title">常规按钮（带SVG图标）</h3>
  <section class="button-section">
    <p-button data-test="change-me" severity="primary" label="SVG主要">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="secondary" label="SVG次要">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="warn" label="SVG警告">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="danger" label="SVG危险">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" label="SVG禁用" disabled>
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" size="small" label="SVG小号">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" size="large" label="SVG大号">
      <app-icon icon="box"></app-icon>
    </p-button>
  </section>

  <h3 class="section-sub-title">PrimeNG图标按钮</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" />
      主要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="secondary" />
      次要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="warn" />
      告警
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="danger" />
      危险
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" [disabled]="true" />
      禁用
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" size="small" />
      小号
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" size="large" />
      大号
    </div>
  </section>

  <h3 class="section-sub-title">SVG图标按钮</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary">
        <app-icon icon="box"></app-icon>
      </p-button>
      主要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="secondary">
        <app-icon icon="box"></app-icon>
      </p-button>
      次要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="warn">
        <app-icon icon="box"></app-icon>
      </p-button>
      告警
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="danger">
        <app-icon icon="box"></app-icon>
      </p-button>
      危险
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary" disabled>
        <app-icon icon="box"></app-icon>
      </p-button>
      禁用
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary" size="small">
        <app-icon icon="box"></app-icon>
      </p-button>
      小号
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary" size="large">
        <app-icon icon="box"></app-icon>
      </p-button>
      大号
    </div>
  </section>

  <h3 class="section-sub-title">PrimeNG图标按钮（带底色）</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" />
      主要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="secondary" />
      次要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="warn" />
      告警
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="danger" />
      危险
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" [disabled]="true" />
      禁用
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" size="small" />
      小号
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" size="large" />
      大号
    </div>
  </section>
  <h3 class="section-sub-title">SVG图标按钮（带底色）</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary">
        <app-icon icon="box"></app-icon>
      </p-button>
      主要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="secondary">
        <app-icon icon="box"></app-icon>
      </p-button>
      次要
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="warn">
        <app-icon icon="box"></app-icon>
      </p-button>
      警告
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="danger">
        <app-icon icon="box"></app-icon>
      </p-button>
      危险
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary" disabled>
        <app-icon icon="box"></app-icon>
      </p-button>
      禁用
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary" size="small">
        <app-icon icon="box"></app-icon>
      </p-button>
      小号
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary" size="large">
        <app-icon icon="box"></app-icon>
      </p-button>
      大号
    </div>
  </section>

  <h3 class="section-sub-title">文本按钮</h3>
  <div class="button-section">
    <p-button data-test="change-me" label="主要" variant="text" severity="primary" />
    <p-button data-test="change-me" label="次要" variant="text" severity="secondary" />
    <p-button data-test="change-me" label="警告" variant="text" severity="warn" />
    <p-button data-test="change-me" label="危险" variant="text" severity="danger" />
    <p-button data-test="change-me" label="禁用" variant="text" severity="primary" disabled />
    <p-button data-test="change-me" label="小号" variant="text" severity="primary" size="small" />
    <p-button data-test="change-me" label="大号" variant="text" severity="primary" size="large" />
  </div>

  <h1 class="section-title">主题色</h1>
  <section class="common-color-section">
    <div class="common-color-item">
      <div class="common-color-legend" [style]="`background: var(--primary-color)`"></div>
      <div>var(--primary-color)</div>
      <div>主题蓝</div>
    </div>
  </section>

  <h1 class="section-title">文本颜色</h1>
  <section class="text-color-section">
    <div class="text-color-item">
      <span style="color: var(--primary-text-color); font-size: 20px; font-weight: 700">常规色</span>
      var(--primary-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--emphasis-text-color); font-size: 20px; font-weight: 700">强调色</span>
      var(--emphasis-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--secondary-text-color); font-size: 20px; font-weight: 700">弱化色</span>
      var(--secondary-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--placeholder-text-color); font-size: 20px; font-weight: 700">占位符</span>
      var(--placeholder-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--success-color); font-size: 20px; font-weight: 700">成功色</span>
      var(--success-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--warn-color); font-size: 20px; font-weight: 700">警告色</span>
      var(--warn-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--error-color); font-size: 20px; font-weight: 700">错误色</span>
      var(--error-color)
    </div>
  </section>

  <h1 class="section-title">内容背景色</h1>
  <section class="common-color-section">
    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--light-background-color)`"></div>
      <div>var(--light-background-color)</div>
      <div>浅色背景</div>
    </div>

    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--medium-background-color)`"></div>
      <div>var(--medium-background-color)</div>
      <div>中色背景</div>
    </div>

    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--heavy-background-color)`"></div>
      <div>var(--heavy-background-color)</div>
      <div>深色背景</div>
    </div>
  </section>

  <h1 class="section-title">常用控件</h1>
  <ul>
    <li>
      <div class="common-control-item">
        <div class="common-control-title">带省略号文本（app-ellipsised）：</div>
        <app-ellipsised>这是一段带省略号的文本，鼠标悬浮时会显示tooltip</app-ellipsised>
      </div>
    </li>
    <li>
      <div class="common-control-item">
        <div class="common-control-title">SVG图标（app-icon）：</div>
        <app-icon icon="box"></app-icon>
      </div>
    </li>
  </ul>

  <h1 class="section-title">消息提示</h1>
  <section class="button-section">
    <p-button
      data-test="change-me"
      label="常规消息"
      severity="primary"
      (onClick)="showToast('info','常规消息，一般比较少使用，优先用其他类型')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="成功消息"
      severity="success"
      (onClick)="showToast('success','成功消息，当操作执行成功后显示')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="警告消息"
      severity="warn"
      (onClick)="showToast('warn','警告消息，用于向用户显示警告信息')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="错误消息"
      severity="danger"
      (onClick)="showToast('error','错误消息，当发生错误时通知用户')"
    ></p-button>
  </section>

  <h1 class="section-title">确认框</h1>
  <section class="button-section">
    <p-button
      data-test="change-me"
      label="常规确认框"
      severity="primary"
      (onClick)="showConfirmation('primary')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="成功确认框"
      severity="success"
      (onClick)="showConfirmation('success')"
    ></p-button>
    <p-button data-test="change-me" label="警告确认框" severity="warn" (onClick)="showConfirmation('warn')"></p-button>
    <p-button
      data-test="change-me"
      label="危险确认框"
      severity="danger"
      (onClick)="showConfirmation('danger')"
    ></p-button>
  </section>

  <h1 class="section-title">对话框</h1>
  <section class="button-section">
    <p-button data-test="change-me" label="小尺寸对话框" severity="primary" (onClick)="showDialog('small')"></p-button>
    <p-button data-test="change-me" label="中尺寸对话框" severity="primary" (onClick)="showDialog('medium')"></p-button>
    <p-button data-test="change-me" label="大尺寸对话框" severity="primary" (onClick)="showDialog('large')"></p-button>
    <p-button
      data-test="change-me"
      label="超大尺寸对话框"
      severity="primary"
      (onClick)="showDialog('x-large')"
    ></p-button>
  </section>

  <h1 class="section-title">表格</h1>
  <section class="table-section">
    <app-demo-device-list-page></app-demo-device-list-page>
  </section>

  <h1 class="section-title">图标</h1>
  <div>
    图标可采用2种方式，一种是直接使用
    <a href="https://primeng.org/icons">PrimeNG图标</a>
    ；另一种是使用自定义SVG图标，如需添加新的SVG图标，请在
    <b>icon-registry.ts</b>
    文件中进行注册。
  </div>
  <h3 class="section-sub-title">SVG图标用法</h3>
  <div class="u-margin-top-10">
    <code>&lt;app-icon icon="box">&lt;/app-icon&gt;</code>
  </div>
  <div class="u-margin-top-10">可以通过CSS的color设置图标颜色，并通过font-size设置图标尺寸。</div>

  <h3 class="section-sub-title">SVG图标颜色</h3>
  <div class="icon-section">
    <div class="icon-item">
      <app-icon icon="box"></app-icon>
      <div>默认颜色</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="colored-icon-blue"></app-icon>
      <div>主题蓝</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="colored-icon-red"></app-icon>
      <div>危险红</div>
    </div>
  </div>

  <h3 class="section-sub-title">SVG图标尺寸</h3>
  <div class="icon-section">
    <div class="icon-item">
      <app-icon icon="box"></app-icon>
      <div>默认尺寸</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="u-font-size-16"></app-icon>
      <div>var(--16px)</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="u-font-size-20"></app-icon>
      <div>var(--20px)</div>
    </div>
  </div>

  <h3 class="section-sub-title">SVG图标列表</h3>
  <section class="icon-section">
    @for (icon of allIcons; track icon) {
    <div class="icon-item">
      <app-icon [icon]="icon"></app-icon>
      <div>{{ icon }}</div>
    </div>
    }
  </section>

  <h1 class="section-title">其他常用颜色</h1>
  <section class="common-color-section">
    @for (color of allCommonColors; track color) {
    <div class="common-color-item">
      <div class="common-color-legend" [style]="`background: var(${color})`"></div>
      <div>var({{ color }})</div>
    </div>
    }
  </section>
</section>
