<div class="u-flex u-gap-15 u-flex-justify-content-end">
  <a routerLink="/" pButton>
    <span pButtonLabel>主页</span>
  </a>
  <a routerLink="/console" pButton>
    <span pButtonLabel>控制台</span>
  </a>
</div>
<h1>按钮</h1>
severity，variant，禁用，仅图标，仅文本，尺寸
<h1>文本颜色</h1>
常规色(primary)，强调色(emphasis)，弱化色(secondary)，占位符色(placeholder)
<h1>背景色</h1>
<h1>常用颜色</h1>
<h1>边框阴影</h1>
<h1>消息提示</h1>
普通，警告，错误，成功
<h1>确认框</h1>
警告，确认，禁止（红色）
<h1>对话框</h1>
几种尺寸
<h1>表格</h1>
排序，选择，组件cell
<h1>分割线</h1>
<h1>常用控件</h1>
药丸，标签，帮助图标，省略文本

<h1>图标</h1>
图标可采用2种方式，一种是直接使用<a href="https://primeng.org/icons">PrimeNG图标</a>，另一种是本地SVG图标。
如需添加新的SVG图标，请在<b>icon-registry.ts</b>文件中进行注册。
<h3 class="u-margin-top-15">图标列表</h3>
<div class="u-flex u-gap-30 u-margin-top-5 u-flex-item-centered">
  @for (icon of allIcons; track icon) {
    <div class="u-flex-column u-flex-item-centered">
      <app-icon [icon]="icon"></app-icon>
      <div>{{ icon }}</div>
    </div>
  }
</div>

<h3 class="u-margin-top-15">图标颜色</h3>
<div class="u-flex u-gap-30 u-margin-top-5 u-flex-item-centered">
  <div class="u-flex-column u-flex-item-centered">
    <app-icon icon="box" class="colored-icon-red"></app-icon>
    <div>box</div>
  </div>

  <div class="u-flex-column u-flex-item-centered">
    <app-icon icon="calendar" class="colored-icon-blue"></app-icon>
    <div>calendar</div>
  </div>
</div>

<h3 class="u-margin-top-15">图标尺寸</h3>
<div class="u-flex u-gap-30 u-margin-top-5 u-flex-item-centered">
  <div class="u-flex-column u-flex-item-centered">
    <app-icon icon="box" class="u-font-size-14"></app-icon>
    <div>box</div>
  </div>

  <div class="u-flex-column u-flex-item-centered">
    <app-icon icon="calendar" class="u-font-size-20"></app-icon>
    <div>calendar</div>
  </div>
</div>
