<section class="the-header">
  <div class="header-left">
    <span style="color: var(--blue-main)">设</span>
    <span style="color: var(--pink-main)">计</span>
    <span style="color: var(--green-main)">系</span>
    <span style="color: var(--amber-main)">统</span>
  </div>

  <div class="header-right">
    <a routerLink="/" pButton>
      <span pButtonLabel>主页</span>
    </a>
    <a routerLink="/console" pButton>
      <span pButtonLabel>控制台</span>
    </a>
  </div>
</section>

<section class="main-content">
  <h1 class="section-title">按钮</h1>
  <h3 class="section-sub-title">常规按钮</h3>
  <section class="button-section">
    <p-button label="主要按钮" severity="primary"></p-button>
    <p-button label="次要按钮" severity="secondary"></p-button>
    <p-button label="警告按钮" severity="warn"></p-button>
    <p-button label="危险按钮" severity="danger"></p-button>
    <p-button label="禁用按钮" severity="danger" [disabled]="true"></p-button>
    <p-button label="小号按钮" severity="primary" size="small"></p-button>
    <p-button label="大号按钮" severity="primary" size="large"></p-button>
  </section>

  <h3 class="section-sub-title">常规按钮（带PrimeNG图标）</h3>
  <section class="button-section">
    <p-button icon="pi pi-home" label="主要按钮" severity="primary"></p-button>
    <p-button icon="pi pi-home" label="次要按钮" severity="secondary"></p-button>
    <p-button icon="pi pi-home" label="警告按钮" severity="warn"></p-button>
    <p-button icon="pi pi-home" label="危险按钮" severity="danger"></p-button>
    <p-button icon="pi pi-home" label="禁用按钮" severity="primary" [disabled]="true"></p-button>
    <p-button icon="pi pi-home" label="小号按钮" severity="primary" size="small"></p-button>
    <p-button icon="pi pi-home" label="大号按钮" severity="primary" size="large"></p-button>
  </section>

  <h3 class="section-sub-title">常规按钮（带SVG图标）</h3>
  <section class="button-section">
    <p-button severity="primary" label="SVG图标（主要）">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button severity="secondary" label="SVG图标（次要）">
      <app-icon icon="box"></app-icon>
    </p-button>

    <p-button severity="warn" label="SVG图标（警告）">
      <app-icon icon="box"></app-icon>
    </p-button>

    <p-button severity="danger" label="SVG图标（危险）">
      <app-icon icon="box"></app-icon>
    </p-button>

    <p-button severity="primary" label="SVG图标（禁用）" disabled>
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button severity="primary" size="small" label="SVG图标（小号）">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button severity="primary" size="large" label="SVG图标（大号）">
      <app-icon icon="box"></app-icon>
    </p-button>
  </section>

  <h3 class="section-sub-title">PrimeNG图标按钮</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button icon="pi pi-home" [text]="true" severity="primary" />
      主要
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" [text]="true" severity="secondary" />
      次要
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" [text]="true" severity="warn" />
      告警
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" [text]="true" severity="danger" />
      危险
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" [text]="true" severity="primary" [disabled]="true" />
      禁用
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" [text]="true" severity="primary" size="small" />
      小号
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" [text]="true" severity="primary" size="large" />
      大号
    </div>
  </section>

  <h3 class="section-sub-title">SVG图标按钮</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button [text]="true" severity="primary">
        <app-icon icon="box"></app-icon>
      </p-button>
      主要
    </div>
    <div class="button-card">
      <p-button [text]="true" severity="secondary">
        <app-icon icon="box"></app-icon>
      </p-button>
      次要
    </div>
    <div class="button-card">
      <p-button [text]="true" severity="warn">
        <app-icon icon="box"></app-icon>
      </p-button>
      告警
    </div>
    <div class="button-card">
      <p-button [text]="true" severity="danger">
        <app-icon icon="box"></app-icon>
      </p-button>
      危险
    </div>
    <div class="button-card">
      <p-button [text]="true" severity="primary" disabled>
        <app-icon icon="box"></app-icon>
      </p-button>
      禁用
    </div>

    <div class="button-card">
      <p-button [text]="true" severity="primary" size="small">
        <app-icon icon="box"></app-icon>
      </p-button>
      小号
    </div>

    <div class="button-card">
      <p-button [text]="true" severity="primary" size="large">
        <app-icon icon="box"></app-icon>
      </p-button>
      大号
    </div>
  </section>

  <h3 class="section-sub-title">PrimeNG图标按钮（带底色）</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button icon="pi pi-home" severity="primary" />
      主要
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" severity="secondary" />
      次要
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" severity="warn" />
      告警
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" severity="danger" />
      危险
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" severity="primary" [disabled]="true" />
      禁用
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" severity="primary" size="small" />
      小号
    </div>
    <div class="button-card">
      <p-button icon="pi pi-home" severity="primary" size="large" />
      大号
    </div>
  </section>
  <h3 class="section-sub-title">SVG图标按钮（带底色）</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button icon="pi" severity="primary">
        <app-icon icon="box"></app-icon>
      </p-button>
      主要
    </div>
    <div class="button-card">
      <p-button icon="pi" severity="secondary">
        <app-icon icon="box"></app-icon>
      </p-button>
      次要
    </div>
    <div class="button-card">
      <p-button icon="pi" severity="warn">
        <app-icon icon="box"></app-icon>
      </p-button>
      警告
    </div>
    <div class="button-card">
      <p-button icon="pi" severity="danger">
        <app-icon icon="box"></app-icon>
      </p-button>
      危险
    </div>
    <div class="button-card">
      <p-button icon="pi" severity="primary" disabled>
        <app-icon icon="box"></app-icon>
      </p-button>
      禁用
    </div>
    <div class="button-card">
      <p-button icon="pi" severity="primary" size="small">
        <app-icon icon="box"></app-icon>
      </p-button>
      小号
    </div>
    <div class="button-card">
      <p-button icon="pi" severity="primary" size="large">
        <app-icon icon="box"></app-icon>
      </p-button>
      大号
    </div>
  </section>

  <h3 class="section-sub-title">文本按钮</h3>
  <div class="button-section">
    <p-button label="主要" variant="text" severity="primary" />
    <p-button label="次要" variant="text" severity="secondary" />
    <p-button label="警告" variant="text" severity="warn" />
    <p-button label="危险" variant="text" severity="danger" />
    <p-button label="禁用" variant="text" severity="primary" disabled />
    <p-button label="小号" variant="text" severity="primary" size="small" />
    <p-button label="大号" variant="text" severity="primary" size="large" />
  </div>
  <h1 class="section-title">主题色</h1>
  <section class="common-color-section">
    <div class="common-color-item">
      <div class="common-color-legend" [style]="`background: var(--primary-color)`"></div>
      <div>var(--primary-color)</div>
      <div>主题蓝</div>
    </div>
  </section>

  <h1 class="section-title">文本颜色</h1>
  <section class="text-color-section">
    <div class="text-color-item">
      <span style="color: var(--primary-text-color); font-size: 20px; font-weight: 700">常规色</span>
      var(--primary-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--emphasis-text-color); font-size: 20px; font-weight: 700">强调色</span>
      var(--emphasis-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--secondary-text-color); font-size: 20px; font-weight: 700">弱化色</span>
      var(--secondary-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--placeholder-text-color); font-size: 20px; font-weight: 700">占位符</span>
      var(--placeholder-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--success-color); font-size: 20px; font-weight: 700">成功色</span>
      var(--success-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--warn-color); font-size: 20px; font-weight: 700">警告色</span>
      var(--warn-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--error-color); font-size: 20px; font-weight: 700">错误色</span>
      var(--error-color)
    </div>
  </section>
  <h1 class="section-title">内容背景色</h1>
  <section class="common-color-section">
    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--light-background-color)`"></div>
      <div>var(--light-background-color)</div>
      <div>浅色背景</div>
    </div>

    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--medium-background-color)`"></div>
      <div>var(--medium-background-color)</div>
      <div>中色背景</div>
    </div>

    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--heavy-background-color)`"></div>
      <div>var(--heavy-background-color)</div>
      <div>深色背景</div>
    </div>
  </section>
  <h1 class="section-title">其他常用颜色</h1>
  <section class="common-color-section">
    @for (color of allCommonColors; track color) {
    <div class="common-color-item">
      <div class="common-color-legend" [style]="`background: var(${color})`"></div>
      <div>var({{ color }})</div>
    </div>
    }
  </section>
  <h1 class="section-title">边框阴影</h1>
  <h1 class="section-title">消息提示</h1>
  普通，警告，错误，成功
  <h1 class="section-title">确认框</h1>
  警告，确认，禁止（红色）
  <h1 class="section-title">对话框</h1>
  几种尺寸
  <h1 class="section-title">表格</h1>
  排序，选择，组件cell
  <h1 class="section-title">分割线</h1>
  <h1 class="section-title">常用控件</h1>
  药丸，标签，帮助图标，省略文本

  <h1 class="section-title">图标</h1>
  <div>
    图标可采用2种方式，一种是直接使用
    <a href="https://primeng.org/icons">PrimeNG图标</a>
    ；另一种是使用自定义SVG图标，如需添加新的SVG图标，请在
    <b>icon-registry.ts</b>
    文件中进行注册。
  </div>
  <h3 class="section-sub-title">SVG图标用法</h3>
  <div class="u-margin-top-10">
    <code>&lt;app-icon icon="box">&lt;/app-icon&gt;</code>
  </div>
  <div class="u-margin-top-10">可以通过CSS的color设置图标颜色，并通过font-size设置图标尺寸。</div>

  <h3 class="section-sub-title">SVG图标颜色</h3>
  <div class="icon-section">
    <div class="icon-item">
      <app-icon icon="box"></app-icon>
      <div>默认颜色</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="colored-icon-blue"></app-icon>
      <div>主题蓝</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="colored-icon-red"></app-icon>
      <div>危险红</div>
    </div>
  </div>

  <h3 class="section-sub-title">SVG图标尺寸</h3>
  <div class="icon-section">
    <div class="icon-item">
      <app-icon icon="box"></app-icon>
      <div>默认尺寸</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="u-font-size-16"></app-icon>
      <div>var(--16px)</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="u-font-size-20"></app-icon>
      <div>var(--20px)</div>
    </div>
  </div>

  <h3 class="section-sub-title">SVG图标列表</h3>
  <section class="icon-section">
    @for (icon of allIcons; track icon) {
    <div class="icon-item">
      <app-icon [icon]="icon"></app-icon>
      <div>{{ icon }}</div>
    </div>
    }
  </section>
</section>
