// This file contains utility css styles that can be referenced directly by components
// All utility css selectors are wrapped inside `utility` css layer which is put at a very high priority, please refer to `src/common/config/main.config.ts` for more details on css layers
// All utility css selectors should start with `u-` which means 'Utility' to distinguish from other css selectors

@layer utility {
  .u-flex {
    display: flex;
  }

  .u-flex-column {
    display: flex;
    flex-direction: column;
  }

  .u-flex-item-centered {
    align-items: center;
  }

  .u-flex-justify-content-end {
    justify-content: flex-end;
  }

  .u-gap-15 {
    gap: var(--15px);
  }

  .u-gap-30 {
    gap: var(--30px);
  }

  .u-margin-top-5 {
    margin-top: var(--5px);
  }

  .u-margin-top-10 {
    margin-top: var(--10px);
  }

  .u-margin-top-15 {
    margin-top: var(--15px);
  }

  .u-font-size-14 {
    font-size: var(--14px);
  }

  .u-font-size-20 {
    font-size: var(--20px);
  }
}
