// This file contains utility css styles
// All utility css selectors are wrapped inside `utility` css layer which is put at a very high priority, please refer to `src/common/config/main.config.ts` for more details on css layers
// All utility css selectors should start with `u-` which means 'Utility'

@layer utility {
  .u-margin-top-10 {
    margin-top: var(--10px);
  }
}
