.p-confirmdialog {
  .p-dialog-header {
    padding: var(--14px) var(--20px);
    border-bottom: var(--content-splitter-border);

    & .p-dialog-header-actions button.p-dialog-close-button {
      border-radius: var(--medium-border-radius);
    }
  }

  .p-dialog-content {
    width: var(--500px);
    padding: var(--24px);
  }

  .p-dialog-footer {
    gap: var(--15px);
  }
}

.p-confirmdialog {
  &:has(.cp-confirmation-success) {
    .p-dialog-title {
      color: var(--success-color);
    }
  }

  &:has(.cp-confirmation-danger) {
    .p-dialog-title {
      color: var(--error-color);
    }
  }

  &:has(.cp-confirmation-warn) {
    .p-dialog-title {
      color: var(--warn-color);
    }
  }
}
