<div class="title">This is a demo public home page.</div>
<p-button label="确定"></p-button>
<p-button label="确定" size="small"></p-button>
<p-button label="确定" size="large"></p-button>
<p-button label="确定" disabled></p-button>
<p-button label="确定" variant="outlined"></p-button>
<p-button label="确定" variant="outlined" size="small"></p-button>
<p-button label="确定" variant="outlined" size="large"></p-button>
<p-button icon="pi pi-user"/>
<p-button icon="pi pi-user" severity="info"/>
<p-button icon="pi pi-times" [text]="true" severity="secondary"/>
<p-button icon="pi pi-times" [text]="true" size="small"/>
<p-button icon="pi pi-times" [text]="true" size="large"/>
<p-button label="确定" variant="text"/>
<p-button label="确定" variant="text" size="small"/>
<p-button label="确定" variant="text" size="large" (onClick)="show()"/>
<a routerLink="/public/design-system">Design System测试</a>
<a routerLink="/console/main/demo-devices">设备列表</a>
<a routerLink="/console/remote-desktop">远程桌面</a>

<!--<div style="width:300px;height:300px;position: fixed;top:0;left:0;background: red">-->
  <app-loading-spinner name="abc"></app-loading-spinner>
<!--</div>-->
