<div class="title">This is a demo public home page.</div>
<p-button label="确定"></p-button>
<p-button label="确定" size="small"></p-button>
<p-button label="确定" size="large"></p-button>
<p-button icon="pi pi-user"/>
<p-button icon="pi pi-user" severity="info"/>
<p-button icon="pi pi-times" [text]="true" severity="secondary"/>
<p-button icon="pi pi-times" [text]="true" size="small"/>
<p-button icon="pi pi-times" [text]="true" size="large"/>
<p-button label="确定" variant="text"/>
<p-button label="确定" variant="text" size="small"/>
<p-button label="确定" variant="text" size="large"/>


<a routerLink="/public/design-system">Design System测试</a>
<a routerLink="/console/demo-devices">Demo device list</a>
