<section class="nav-section"></section>
<section class="content-section">
  <div class="content-header">
    <div class="header-left"></div>
    <div class="header-right">
      <div>{{ currentContextService.user()?.name }}</div>
      <app-language-switcher></app-language-switcher>
      @if (currentContextService.isSuperAdminUser()) {
        <app-org-switcher></app-org-switcher>
      }
      <a routerLink="/" pButton data-test="change-me" target="_blank">
        <span pButtonLabel>主页</span>
      </a>
      @if (currentContextService.isDevelopment()) {
        <a routerLink="/design-system" pButton data-test="change-me" target="_blank">
          <span pButtonLabel>设计系统</span>
        </a>
      }
    </div>
  </div>
  <div class="main-content-container">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-spinner [name]="CONSOLE_MAIN_SPINNER"></app-spinner>
  </div>
</section>
