<section>
  nav menu
  <div>{{ currentContextService.user()?.name }}</div>
  <div>{{ currentContextService.org()?.name }}</div>
  <div>
    <a routerLink="/" pButton data-test="change-me">
      <span pButtonLabel>主页</span>
    </a>
    @if (currentContextService.isDevelopment()) {
      <a routerLink="/design-system" pButton data-test="change-me" target="_blank">
        <span pButtonLabel>设计系统</span>
      </a>
    }
  </div>
</section>
<section class="main-content">
  <div>todo:加入切换org组件，以及显示当前org，切换语言组件，主页按钮，设计系统按钮，当前用户</div>
  <router-outlet></router-outlet>
  <app-spinner [name]="CONSOLE_MAIN_SPINNER"></app-spinner>
</section>
