:host {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.nav-section {
  flex-shrink: 0;
  width: var(--250px);
  background: var(--slate-main);
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-title {
  padding: var(--24px) var(--15px);
  text-align: center;
  font-size: var(--24px);
  font-weight: 700;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--10px) var(--30px);
  border-bottom: var(--1px) solid var(--split-line-color);
}

.header-right {
  display: flex;
  gap: var(--15px);
  align-items: center;
}

.main-content-container {
  flex: 1;
  padding: var(--24px);
  background-color: var(--light-background-color);
}

.main-content {
  position: relative;
  height: 100%;
  background-color: white;
  border-radius: var(--medium-border-radius);
}
