:host {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--8px);
  align-items: center;

  ::ng-deep {
    p-paginator .p-paginator {
      justify-content: flex-end;
      padding: 0;
    }

    p-paginator .p-paginator p-select.p-paginator-rpp-dropdown .p-select-label {
      padding: var(--6px) var(--16px);
    }
  }
}

.selection-summary {
  font-size: var(--12px);
  margin-right: var(--6px);

  ::ng-deep {
    .selected-count {
      font-weight: 700;
      font-size: var(--14px);
      color: var(--p-primary-color);
    }
  }
}
