// This file does NOT customize PrimeNG's own selectors, but contains your own custom selectors targeting PrimeNG's components
// This file serves as a last resort for customizing PrimeNG components
// Before adding styles in this file, you should firstly consider using PrimeNG theming and then 'primeng-override.scss'
// Selector naming convention: cp-xxx, the prefix 'cp' means 'Customize PrimeNG'
// In order avoid conflict, please use cp-xxx selector along with PrimeNG's selectors to target the elements precisely

