// This file should ONLY contain PrimeNG's own selectors to be overridden
// In order to avoid conflicts, please always use the components' tag name as the selector prefix

p-button {
  button.p-button.p-button-text {
    .p-button-label {
      font-weight: normal;
    }
  }

  button.p-button.p-button-text {
    padding: var(--4px) var(--10px);
  }

  button.p-button.p-button-text.p-button-sm {
    padding: var(--2px) var(--8px);
  }

  button.p-button.p-button-text.p-button-lg {
    padding: var(--6px) var(--12px);
  }

  button.p-button.p-button-icon-only {
    width: var(--medium-control-height);
    height: var(--medium-control-height);
    padding: 0;
  }

  button.p-button.p-button-icon-only.p-button-sm {
    width: var(--small-control-height);
    height: var(--small-control-height);
    padding: 0;
  }

  button.p-button.p-button-icon-only.p-button-lg {
    width: var(--large-control-height);
    height: var(--large-control-height);
    padding: 0;
  }
}

a.p-button {
  text-decoration: none;
}
