// This file does NOT customize PrimeNG's own selectors, but contains your own custom selectors targeting PrimeNG's components
// This file serves as a last resort for customizing PrimeNG components
// Before adding styles in this file, you should firstly consider using PrimeNG theming and then 'primeng-override.scss'
// Selector naming convention: cp-xxx, the prefix 'cp' means 'Customize PrimeNG'
// In order avoid conflict, please use cp-xxx selector along with PrimeNG's selectors to target the elements precisely

p-button {
  button.p-button.p-button-text:not(.p-button-icon-only):has(app-icon) {
    width: var(--medium-control-height);
    height: var(--medium-control-height);
    padding: 0 !important;
  }

  button.p-button.p-button-text:not(.p-button-icon-only).p-button-sm:has(app-icon) {
    width: var(--small-control-height);
    height: var(--small-control-height);
    padding: 0;
  }

  button.p-button.p-button-text:not(.p-button-icon-only).p-button-lg:has(app-icon) {
    width: var(--large-control-height);
    height: var(--large-control-height);
    padding: 0;
  }

  button.p-button.p-button-text:not(.p-button-icon-only):has(app-icon):disabled {
    color: var(--gray-500);
  }
}

.p-confirmdialog {
  &:has(.cp-confirmation-success) {
    .p-dialog-title {
      color: var(--success-color);
    }
  }

  &:has(.cp-confirmation-danger) {
    .p-dialog-title {
      color: var(--error-color);
    }
  }

  &:has(.cp-confirmation-warn) {
    .p-dialog-title {
      color: var(--warn-color);
    }
  }
}
