// This file ONLY contains PrimeNG's own selectors to be overridden
// If you need to add your own css selectors to customize PrimeNG's components, please add them in 'primeng-customize.scss'
// In order to avoid conflicts, please always use the components' tag name as the selector prefix
