<div class="filter-bar">
  <p-floatlabel variant="on">
    <p-select
      class="filter-select"
      inputId="os-type-select-input"
      [options]="enumService.allableOptionsOf(OS_TYPE_NAMES)"
      [(ngModel)]="selectedOsType"
    ></p-select>
    <label for="os-type-select-input">{{ 'OS_TYPE' | translate }}</label>
  </p-floatlabel>

  <p-floatlabel variant="on">
    <p-select
      class="filter-select"
      inputId="cpu-architecture-select-input"
      [options]="enumService.allableOptionsOf(CPU_ARCHITECTURE_NAMES)"
      [(ngModel)]="selectedCpuArchitectureType"
    ></p-select>
    <label for="cpu-architecture-select-input">{{ 'CPU_ARCHITECTURE' | translate }}</label>
  </p-floatlabel>
</div>

<p-table
  [value]="devices"
  [resizableColumns]="true"
  [scrollable]="true"
  scrollHeight="flex"
  [lazy]="true"
  [lazyLoadOnInit]="false"
  class="the-table"
>
  <ng-template #header>
    <tr>
      <th>{{ 'DEVICE_NAME' | translate }}</th>
      <th>{{ 'OS_TYPE' | translate }}</th>
      <th>{{ 'CPU_ARCHITECTURE' | translate }}</th>
    </tr>
  </ng-template>

  <ng-template #body let-device>
    <tr>
      <td>{{ device.name }}</td>
      <td>{{ device.osType }}</td>
      <td>{{ device.cpuArchitecture }}</td>
    </tr>
  </ng-template>
</p-table>

<app-paginator
  [totalElements]="totalElements"
  [pageNumber]="query.pageNumber"
  [pageSize]="query.pageSize"
  (pageChanged)="changePage($event)"
></app-paginator>

<!--In real use, prefer NOT use your own spinner like below, instead use showConsoleMainSpinner() or showGlobalSpinner() -->
<app-spinner [name]="demoDeviceSpinner"></app-spinner>
