// This file is the entry point for all global styles

@use 'common/style/reset';
@use 'common/style/base';
@use 'common/style/utility';
@use 'common/style/primeng/customize/primeng-customize';
@use 'primeicons/primeicons.css';
