<section class="the-header">
  <div class="header-left">Andy's template project for Angular</div>

  <div class="header-right">
    @if (router.url !== '/') {
      <a routerLink="/" pButton data-test="change-me">
        <span pButtonLabel>Home</span>
      </a>
    }
    @if (router.url !== '/pricing') {
      <a routerLink="/pricing" pButton data-test="change-me">
        <span pButtonLabel>Pricing</span>
      </a>
    }
    <a routerLink="/console" pButton data-test="change-me">
      <span pButtonLabel>Console</span>
    </a>
    @if (currentContextService.isDevelopment()) {
      <a routerLink="/design-system" pButton data-test="change-me" target="_blank">
        <span pButtonLabel>Design System</span>
      </a>
    }
  </div>
</section>

<section class="main-content">
  <router-outlet></router-outlet>
</section>
